<form {{action "createOrder" model on="submit"}}>
  <label for="name">Name</label>
  {{input type="text" id="none" value=model.name}}

  {{#each model.items as |item|}}
    <label>
      {{item.product.title}}
      {{input type="number" min="0" value=item.quantity}}
      <button {{action "addToItemQuantity" item 10}}>+10</button>
    </label>
    {{/each}}

    <input type="submit" type="Order">
    <button type="submit">Order</button>
  </form>
